<%= content_for :head do %>
<%= javascript_include_tag 'auto_logout' if logged_in? %>
<% end %>

<div class="container text-center">
  <h1>You're now registered!</h1>

  <%= image_tag "signal.svg", width: 128, height: 128 %>

  <h3>Your assigned IP Address:</h3>
  <p><%= ip %></p>

  <h3>Your detected MAC Address:</h3>
  <p><%= mac %></p>
</div>
